body{
    background-color: rgba(177, 80, 80, 0.658);/* Cor do plano de fundo */
    background-image: url("../Imagens/arena.jpg");  
    background-size: 100%;
    background-repeat: repeat;
    color: #000; /* Cor da fonte */
    font-size: 20px; /* Tamanho da Fonte */
    margin: 0;  /*margem em relação a tela */
}/* Comentários */
 
header{
    text-align: center;
    text-decoration: none;
}/* Seletor do cabeçalho */
 
.botoesMenu, li{
    color: #fff;
    list-style-type: none;/*Remover as bolinhas dos topicos */
    display: inline; /* Transformar coluna em linha */
    border: 2px solid #000;
    padding: 20px;
    background-color: #000;
}
 
ul{
    margin-bottom: 3%;
}
 
li:hover{
    background-color: #444;
    font-size: 30px;
    font-family: 'Trebuchet MS'; /* Definir uma fonte */
    border: 10px solid #888;
}/* Modifica o conteudo original da Tag */
 
 
.titulo{
   
    font-size: 300%;
}/* chamando a classe */
 
aside{
    background-image: url("../IMAGENS/");
    background-repeat: no-repeat;
}
 
.imgFmt{
    /*Formatar a imagem */
    width: 70%; /*Altura*/
    height: 50%; /*Largura*/
}
 
.galeria{
    display: grid; /*Formato de visualização*/
    grid-template-columns: 30% 30% 30%; /* Quantidade de coluna*/
    grid-template-rows: 50% 50% 50%; /* Quantidade de linhas e tamanho*/
    grid-gap: 1%; /* espaço entre os contatos*/
    margin-left: 5%; /*Margem do Lado Esquerdo */
}
 
article{
    border: 2px solid #000;
    text-align: center; /* Alinhamento do Texto */
    color: #000;
    font-size: 90%;
    background-color: #fff;
    padding-bottom: 5%;
   
}
 
h3{
    border: 2px solid #000; /* Bordas */
    margin-top: 0%; /* Espaço Externo */
    padding: 3%; /*Espaço Interno*/
    background-color: #000;
    color: #fff;
    font-size: 130%;
}
 
a{
    border: 2px solid #000;
    padding: 3%;
    font-weight: bold; /* Negrito */
    background-color: #888;
    color: #fff;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 140%;
}
 
.preco{
    padding-bottom: 5%;
    padding-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    font: 130%;
    border-radius: 60%;
}
 
p{
    text-align: center;
    font-size: 100%;
}